/*
 * ----------------------------------------------------------------------------
 * "THE BEER-WARE LICENSE" (Revision 42):
 * <me.olexandr.kovalchuk@gmail.com> wrote this file.  As long as you retain this notice you
 * can do whatever you want with this stuff. If we meet some day, and you think
 * this stuff is worth it, you can buy me a beer in return.  Olexandr Kovalchuk
 * ----------------------------------------------------------------------------
 */

$hamburger-width = 24px // The width of the hamburger area
$hamburger-height = 24px // The height of the hamburger area
$hamburger-bar-thickness = 2px // The thickness of the hamburger bars
$hamburger-pad = 2px // The left/right padding between hamburger area and bars.
$hamburger-bar-space = (
  ($hamburger-height - 3 * $hamburger-bar-thickness) / 2 - 2 * $hamburger-pad
)// The spacing between hamburger bars
$hamburger-transistion-duration = 0.3s // The transition duration

#c-hamburger
  background-color $transparent-color
  border none
  cursor pointer
  display block
  font-size 0
  height $hamburger-height
  margin 0
  overflow hidden
  padding 0
  position relative
  text-indent -9999px
  width $hamburger-width

  mixin-appearance none
  mixin-border-radius none
  mixin-box-shadow none

  &:focus
    outline none

  span
    background $primary-color-dark
    display block
    height $hamburger-bar-thickness
    left $hamburger-pad
    position absolute
    right $hamburger-pad
    top ($hamburger-height / 2) - ($hamburger-bar-thickness / 2)
    mixin-transition-transform $hamburger-transistion-duration

    $commons
      background-color $primary-color-dark
      content ""
      display block
      height $hamburger-bar-thickness
      left 0
      position absolute
      width 100%

    &::before
      @extends #c-hamburger span $commons
      top - ($hamburger-bar-thickness + $hamburger-bar-space)
      transform-origin top right
      mixin-transition-transform $hamburger-transistion-duration, width $hamburger-transistion-duration, top $hamburger-transistion-duration

    &::after
      @extends #c-hamburger span $commons
      bottom - ($hamburger-bar-thickness + $hamburger-bar-space)
      transform-origin bottom right
      mixin-transition-transform $hamburger-transistion-duration, width $hamburger-transistion-duration, bottom $hamburger-transistion-duration

  &.is-active span
    mixin-transform rotate(180deg)

    &::before
      @extends #c-hamburger span $commons
      top 0
      width 50%
      mixin-transform translateX($hamburger-width/2 - $hamburger-pad + $hamburger-bar-thickness) translateY($hamburger-bar-thickness/2) rotate(45deg)

    &::after
      @extends #c-hamburger span $commons
      bottom 0
      width 50%
      mixin-transform translateX($hamburger-width/2 - $hamburger-pad + $hamburger-bar-thickness) translateY(- $hamburger-bar-thickness / 2) rotate(-45deg)
