/*
 * ----------------------------------------------------------------------------
 * "THE BEER-WARE LICENSE" (Revision 42):
 * <me.olexandr.kovalchuk@gmail.com> wrote this file.  As long as you retain this notice you
 * can do whatever you want with this stuff. If we meet some day, and you think
 * this stuff is worth it, you can buy me a beer in return.  Olexandr Kovalchuk
 * ----------------------------------------------------------------------------
 */

#c-shadow-cover
  background-color $shadow-cover-color
  display none
  height 100%
  left 0
  position fixed
  top 0
  width 100%
  z-index 2
  &.is-active
    display block
