/*
 * ----------------------------------------------------------------------------
 * "THE BEER-WARE LICENSE" (Revision 42):
 * <me.olexandr.kovalchuk@gmail.com> wrote this file.  As long as you retain this notice you
 * can do whatever you want with this stuff. If we meet some day, and you think
 * this stuff is worth it, you can buy me a beer in return.  Olexandr Kovalchuk
 * ----------------------------------------------------------------------------
 */

img
  margin 16px
  width calc(100% - 32px)

article
  padding-left 16px
  padding-right 16px
  img
    margin 16px
    width calc(100% - 32px)
    @media(min-width 768px)
      width calc(40% - 32px)
      float right

  p
    text-align left
    @media(min-width 480px)
      text-align justify
  &::after
    clear both
    content ""
    display block
    height 0
    width 0

  ul.big-links
    font-size 16px
    list-style-type none
    padding-left 0
    a
      text-decoration none
      color $accent-color
      &:hover
        text-decoration underline


main
  margin 0 auto
  @media (min-width 480px)
    width 430px
  @media (min-width 768px)
    width 660px
  @media (min-width 1024px)
    width 940px