/*
 * ----------------------------------------------------------------------------
 * "THE BEER-WARE LICENSE" (Revision 42):
 * <me.olexandr.kovalchuk@gmail.com> wrote this file.  As long as you retain this notice you
 * can do whatever you want with this stuff. If we meet some day, and you think
 * this stuff is worth it, you can buy me a beer in return.  Olexandr Kovalchuk
 * ----------------------------------------------------------------------------
 */

footer
  background-color $primary-color-light
  color $secondary-text-color
  height 56px
  margin-top 56px
  padding-left 16px
  padding-right 16px
  display table
  width calc(100% - 32px)
  & a
    color $primary-color-dark
    text-decoration none
  div
    display table-cell
    vertical-align middle
    text-align  center
    margin 0 auto
    @media (min-width 480px)
      max-width 430px
    @media (min-width 768px)
      max-width 660px
    @media (min-width 1024px)
      max-width 940px
    &>span
      text-align center
