/*
 * ----------------------------------------------------------------------------
 * "THE BEER-WARE LICENSE" (Revision 42):
 * <me.olexandr.kovalchuk@gmail.com> wrote this file.  As long as you retain this notice you
 * can do whatever you want with this stuff. If we meet some day, and you think
 * this stuff is worth it, you can buy me a beer in return.  Olexandr Kovalchuk
 * ----------------------------------------------------------------------------
 */

mixin-appearance()
  -webkit-appearance arguments
  -moz-appearance arguments
  appearance arguments

mixin-transform()
  -webkit-transform arguments
  -moz-transform arguments
  -o-transform arguments
  transform arguments

mixin-transform-origin()
  -webkit-transform-origin arguments
  -moz-transform-origin arguments
  -o-transform-origin arguments
  transform-origin arguments

mixin-transition()
  -webkit-transition arguments
  -moz-transition arguments
  -o-transition arguments
  transition arguments

mixin-transition-transform()
  mixin-transition -webkit-transform arguments, -moz-transform arguments, -o-transform arguments, transform arguments


mixin-box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  -o-box-shadow arguments
  box-shadow arguments

mixin-border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  -o-border-radius arguments
  border-radius arguments

mixin-reset()
  margin 0
  padding 0
